#container-carousel-banner-home {
    position: relative;
    max-width: 1188px;
    margin: 0 auto;
}

.carousel-indicators li {
    width: 60px;
    height: 3px;
    border-radius: 0;
    margin-right: 10px;
    @media screen and (min-width: 200px) {
        outline: 0;
        margin-right: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #d8d8d8;
    }
}

.carousel-indicators .active {
    background-color: #00adef;
}

.carousel-inner .carousel-item .container-standard {
    position: absolute;
    z-index: 25;
    top: 0;
    padding: 0 32px;
    width: 100%;
    max-width: 1188px;
    display: none;
    .text {
        margin-top: 100px;
        width: 50%;
        h1 {
            color: #fff;
            font-size: 60px;
            letter-spacing: 0;
            line-height: 46px;
        }
        p {
            color: #fff;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 21px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 60%;
        }
        .button {
            height: 35px;
            width: 142px;
            color: #fff;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 21px;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 2px;
            padding: 10px 25px;
        }
    }
    @media screen and (min-width: 768px) {
        margin: 0 32px;
        display: block;
    }
    @media screen and (min-width: 1280px) {
        width: 1188px;
        margin: 0 auto;
    }
}

.mobile-info {
    background-color: #fff;
    padding: 20px 0 30px;
    border: 1px solid #d9d9d9;
    .mobile-info-text h1 {
        color: #1f1f1f;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 25px;
    }
    .mobile-info-text p {
        color: #999;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .mobile-info-text .button {
        color: #fff;
        background-color: #1f1f1f;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 21px;
        text-align: center;
        border: 1px solid #1f1f1f;
        border-radius: 2px;
        padding: 10px 25px;
        display: block;
    }
    @media screen and (min-width: 768px) {
        display: none;
        .container-standard {
            margin: 0 18px;
        }
    }
}