body {
    background-color: rgb(31, 31, 31);
    margin: 0;
    font-family: DaimlerCAC, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
}