#container-menu-main {
    background: #000;
    position: relative;
}

.container-standard {
    margin: 0 18px;
    @media screen and (min-width: 768px) {
        margin: 0 32px;
    }
    @media screen and (min-width: 1280px) {
        width: 1188px;
        margin: 0 auto;
    }
}

.menu-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: DaimlerCS, sans-serif;
    @media screen and (min-width: 500px) {
        font-family: DaimlerCS, sans-serif;
    }
    @media screen and (min-width: 992px) {
        display: block;
    }
}

.menu-main .data-protection {
    justify-content: flex-end;
    align-items: baseline;
    padding-top: 13px;
}

.d-lg-flex {
    @media (min-width: 992px) {
        display: flex;
    }
}

.menu-main .data-protection a:first-child {
    margin-right: 20px;
}

element.style {}

.menu-main .data-protection a:first-child {
    margin-right: 20px;
}

.menu-main .data-protection a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
}

.menu-main .data-protection a .icon {
    width: 13px;
    height: 14px;
    fill: #999;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.menu-main .data-protection a span:first-child {
    margin-right: 10px;
}

.menu-main .data-protection a span {
    display: inline-block;
    vertical-align: middle;
}

.menu-main .data-protection a span {
    display: inline-block;
    vertical-align: middle;
}

.menu-main .left {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 13px 0 13px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    @media screen and (min-width: 500px) {
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
    }
    @media screen and (min-width: 992px) {
        padding-top: 0;
        padding-bottom: 10px;
    }
}

.menu-main .left a {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media screen and (min-width: 500px) {
        width: initial;
    }
}

.menu-main .left .logo {
    height: 30px;
    width: 30px;
    @media screen and (min-width: 500px) {
        height: 40px;
        width: initial;
    }
    @media screen and (min-width: 768px) {
        height: 64px;
    }
    @media screen and (min-width: 992px) {
        height: 64px;
    }
    @media screen and (min-width: 1200px) {
        height: 64px;
    }
}

.menu-main .left .claim {
    margin-left: 5px;
    margin-bottom: 2px;
    width: 80px;
    @media screen and (min-width: 500px) {
        margin-left: 36px;
        margin-bottom: 2px;
        width: initial;
    }
    @media screen and (min-width: 768px) {
        margin-left: 60px;
    }
    @media screen and (min-width: 992px) {
        margin-left: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 60px;
    }
}

.menu-main .left .logo-f {
    width: initial;
    width: 110px;
    margin-bottom: 4px;
    @media screen and (min-width: 500px) {
        width: initial;
        margin-bottom: 4px;
    }
}

.menu-main .right {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    @media screen and (min-width: 992px) {
        text-align: left;
        padding: 10px 0;
        width: 100%;
    }
}

.links {
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

.menu-main .right .links>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    @media screen and (min-width: 992px) {
        width: 100%;
        height: 32px;
    }
}

.menu-main .right .links>ul>li:first-child {
    align-items: center;
    cursor: pointer;
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

.menu-main .right .links>ul>li {
    display: none;
    margin-right: 24.64px;
    @media screen and (min-width: 992px) {
        display: inline-block;
    }
}

.menu-main .right .links>ul>li a {
    display: block;
    color: #999;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
}