.container-card-vehicles {
    overflow: hidden;
}

.card {
    background: #1f1f1f;
    .image {
        background: #1f1f1f;
    }
    .card-body {
        color: #fff;
    }
    &:hover {
        box-shadow: 0 0 11px rgb(0 0 0 / 50%);
    }
}